{
  "source": "emporia",
  "emporia": {
    "credentials_file": "emporia-credentials.json",
    "token_file": "emporia-tokens.json"
  },
  "channels": [
    {
      "id": "channel_1",
      "emporia_device_gid": 123456,
      "emporia_channel": "1",
      "service_name": "com.victronenergy.acload.emporia_ch1",
      "instance": 71,
      "custom_name": "Heat Pump"
    }
  ]
}
